/* Start Varibles  */
:root {
    --main-color:#10cab7;
    --section-padding:60px;
    --second-color:#2c4755;
}
/* End Varibles  */
/* Start Global Rules  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
    /* height: 4000px; */
}

.parent {
    background-color: #eee;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto ;
    margin-right:auto ;
}




    /* small phones */
@media (min-width: 768px)  {
   .container {
    width: 750px;
   }
   
}
    /* medium phone */
@media (min-width :992px) {
    .container {
        width:970px;
    }
}
    /* large phone */
@media (min-width :1200px) {
    .container {
        width: 1170px;
    }
} 

/* End Global Rules  */ 

/* Start Components */
.special-heading {
    color: #ebeced;
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p {
    margin: -30px 0 0 ;
    text-align: center;
    font-size: 20px;
    color: #797979;
}
/* Mobile */
@media (max-width :767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}

/* End Components */


 /* start Header  */
 .header {padding: 20px;}
 .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .header .logo {width: 60px;}
 .header .links {position: relative;}
 .header .links .icon:hover span:nth-child(2) {width: 100%;}
 .header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
 }
 .header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
    width: 100%;
    transition: 0.5s;
 }
 .header .links .icon span:nth-child(2) {width: 60%;}

 .header .container .links ul {
    display: none;  
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    background-color: #eee;
    min-width: 200px; 
    z-index: 1;
    
 }
 .header .container .links:hover ul {display: block;}

 .header .container .links ul::before {
    content: "";
    border-width: 10px;border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
 }

 .header .container .links ul li  {list-style: none;}
 .header .container .links ul li a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #333;
    transition: 0.3s;
 } 
 .header .container .links ul li a:hover {padding-left: 25px;}
 .header .container .links ul li:not(:last-child) a {border-bottom:1px solid #ddd;}
 
 /* End Header  */

 /* Start Landing Section */
 .landing {
    height: calc(100vh - 64px);
    background-image: url(../images/Mountain.jpg);
    background-size:cover;
}
.landing .intro-text {
    position: absolute;
    margin: 0;
    padding: 20px;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    max-width: 100%;
}
.landing .intro-text h1 {
    color: var(--main-color) ;
    margin-top: 0;
    font-size: 50px;
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}
 /* End Landing Section */

 /* Start Features */
 .features {
    background-color: #f6f6f6;
    padding-top: 60px ;
    padding-bottom: 60px ;
    
 }
 .features .container  {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    
 }
 
.features .container .feat {
    text-align: center;
    padding: 20px;
}
.features .container .feat i {
    color: var(--main-color);
}
.features .container .feat h3 {
    font-weight: 800;
    margin:30px 0;
}
.features .container .feat p {
    line-height:1.8;
    font-size: 15px;
    color: #777;
    
}
 /* End Features */

  /* Start Services   */

.services {
    padding-top:  var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content {
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    margin-top:100px ;
    gap: 30px;
}
.services .services-content .col .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px) {
    .services .services-content .col .srv {
        flex-direction: column;
        text-align: center;
        display: block;  
    }
}
.services .services-content .col .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .col .srv .text {
    flex: 1;
}


.services .services-content .col .srv .text h3 {
    margin: 0 0 20px;
}
.services .services-content .col .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .services-content .col .image {
    text-align: center;
    position: relative;
    
}
.services .services-content .col .image::before {
    content: "";
    position: absolute;
    right: 0;
    background-color: var(--second-color);
    width: 100px;
    top: -50px;
    height: calc(100% + 100px);
    z-index: -1;
    
}
.services .services-content .col .image img {
    width: 260px;
}
@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}

  /* End Services   */

  /* Start Portfolio  */
  .portflio {
    background-color: #fafafa;
    padding-top:var(--section-padding);
    padding-bottom:var(--section-padding);

}
 .portflio .portflio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top: 100px;  
 }
 .portflio .portflio-content .project {
    background-color: #fff;
 }
 .portflio .portflio-content .project .image img {
    max-width: 100%;
 }
 .portflio .portflio-content .project .text {
    padding: 20px;
 }
 .portflio .portflio-content .project .text h3 {
    margin: 0;
    font-weight: 800;
 }
 .portflio .portflio-content .project .text p {
    font-weight: 300;
    line-height: 1.8;
    color: #444;
    margin-bottom: 0;
 }

  /* End Portfolio  */

  /* Start About  */
  .about {
    padding-top:var(--section-padding);
    padding-bottom:var(--section-padding);

}
  .about .about-content {
     display: flex;
    /* display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    column-gap: 150px; */
    margin-top:100px ;
    justify-content: space-between;
    
  }
  @media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
  }
  .about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
  }
  .about .about-content .image img {max-width: 100%;max-height: 100%;}
  .about .about-content  .image::before {
    content: "";
    width: 80px;
    height: calc(100% + 100px);
    background-color: #fafafa;
    position: absolute;
    left: 0;
    top: -50px;
    z-index: -1;
  }
  .about .about-content .image::after {
    content: "";
    width: 100px;
    height: 254px;
    position: absolute;
    border-left: 100px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    right: -130px;
    z-index: -1;
    top: -34px;
  }
  
  @media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
  }    
  .about .about-content .text {
    flex-basis: calc(100% - 500px);
    }

  .about .about-content .text p:first-child {
    line-height: 2;
    font-weight: bold;
    margin-bottom: 50px;
  }
  .about .about-content .text hr {
    display: inline-block;
    width: 50%;
    border-color: var(--main-color);
  }
  
  .about .about-content .text p:last-child {
    font-weight: 300;
    line-height: 2;
    color: #444;
  }
  /* End About  */

  /* Start contact  */
  .contact {
    padding-top: var(--section-padding);
    padding-bottom:var(--section-padding);
    background-color: #fafafa;
  }
  .contact .contact-content {
    padding-top: var(--section-padding);
    padding-bottom:var(--section-padding);
    text-align: center;
    
  }
  .contact .contact-content h2 {
    font-weight: 800;
    letter-spacing: -2px;
    color: var(--second-color);
    font-size: 40px;
    margin-bottom: 20px;
  }
  .contact .contact-content a {
    display: block;
    text-decoration: none;
    font-size: 40px;
    color: var(--main-color);
    font-weight: 800;
    padding-left:20px
  }
  .contact .contact-content .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
  }
  

  .contact .contact-content .social i {
    margin-left: 10px;
    color: var(--second-color);
  }
  @media (max-width:767px) {
    .contact .contact-content h2,
    .contact .contact-content  a {
        font-size: 25px;
    }
  }
  /* End contact  */

  /* start footer */
  .footer {
    padding: 30px 20px;
    text-align: center;
    background-color: var(--second-color);
    color: #FFF;
  }
  .footer span {
    color:var(--main-color);
    font-weight: bold;
  }
  /* End footer */